---
import { Image } from 'astro:assets';
import aboutImage from '../assets/images/about-image.svg';
---

<section class="about-the-event">
	<div class="top-container">
		<h2>O događaju</h2>
		<p>
			Tehničko veleučilište u Zagrebu okuplja više od 4600 studenata budućih stručnjaka informatike, računarstva, elektrotehnike, strojarstva, mehatronike i graditeljstva što čini
			ovaj događaj idealnim za sklapanje novih poznanstava, prijateljstava i poslova diljem svih industrija.
		</p>
	</div>

	<div class="bottom-container">
		<Image
			src={aboutImage}
			alt="About the event"
		/>
	</div>
</section>
