---
// src/components/Countdown.astro
---

<section class="countdown-container">
	<h3 class="countdown-text reveal">Četvrti CareerDay počinje za...</h3>
	<div class="countdown reveal-stagger">
		<div class="time">
			<span id="days">00</span>
			<p>Dana</p>
		</div>
		<span class="dot">:</span>
		<div class="time">
			<span id="hours">00</span>
			<p>Sati</p>
		</div>
		<span class="dot">:</span>
		<div class="time">
			<span id="minutes">00</span>
			<p>Minuta</p>
		</div>
		<span class="dot">:</span>
		<div class="time">
			<span id="seconds">00</span>
			<p>Sekundi</p>
		</div>
	</div>
</section>
