---
import { Image } from 'astro:assets';

const images = await Promise.all(
	Array.from({ length: 12 }, (_, i) => i + 1).map(async (i) => {
		const img = await import(`../assets/images/gallery/${i}.png`);
		return { src: img.default, alt: `Slika za galeriju ${i}` };
	}),
);
---

<section class="gallery">
	<div class="text-block">
		<div class="text-wrapper">
			<h2>TVZ CareerDay <span>2025</span></h2>
			<p>Ako ti se sviđa atmosfera na fotkama, tek će ti se svidjeti kako izgleda uživo. Pridruži nam se i budi dio priče!</p>
		</div>
		<a href="https://careerdaytvz.pixieset.com/careerdaytvz2024/">
			<button class="gallery-button"
				>Galerija 2025.
				<svg
					xmlns="http://www.w3.org/2000/svg"
					height="16px"
					viewBox="0 -960 960 960"
					width="16px"
					fill="#000000"
					><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"></path></svg
				></button
			>
		</a>
	</div>

	<div class="masonry">
		{
			images.map(({ src, alt }) => (
				<Image
					src={src}
					alt={alt}
				/>
			))
		}
	</div>

	<div class="last-year">
		<p>Prethodne godine:</p>
		<div class="last-year-buttons">
			<a href="https://careerdaytvz.pixieset.com/careerdaytvz2024/">
				<button class="gallery-button year-23"
					>Galerija 2025.
					<svg
						xmlns="http://www.w3.org/2000/svg"
						height="16px"
						viewBox="0 -960 960 960"
						width="16px"
						fill="#EAC31B"
						><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"></path></svg
					></button
				>
			</a>
			<a href="https://careerdaytvz.pixieset.com/careerdaytvz2024/">
				<button class="gallery-button year-24"
					>Galerija 2025.
					<svg
						xmlns="http://www.w3.org/2000/svg"
						height="16px"
						viewBox="0 -960 960 960"
						width="16px"
						fill="#EAC31B"
						><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"></path></svg
					></button
				>
			</a>
		</div>
	</div>
</section>
