---
import { Image } from 'astro:assets';
import heroImage from '../assets/images/career-2026-fix.svg';
---

<section class="header">
	<div class="hero">
		<Image
			src={heroImage}
			alt="date-and-place"
			class="date-and-place"
		/>

		<a href="mailto:careerday@tvz.hr?subject=Partnerstvo%20Career%20Day">
			<button>Postani partner</button>
		</a>

		<p>Vise informacija za TVZ CareerDay 2026 dolazi uskoro!</p>
	</div>
</section>
