---
import { Image } from 'astro:assets';
import likImage from '../assets/images/lik2.svg';
---

<section class="job-oportunity">
	<div class="wrapper-container reveal scale">
		<div class="box-container">
			<h2>Tražiš nove <span>poslovne prilike?</span></h2>
			<p>Dođi i upoznaj tvrtke koje traže mlade talente poput tebe. Razgovaraj direktno s poslodavcima, saznaj više o prilikama, praksama i svom budućem poslu!</p>
			<a
				href="https://luma.com/cd26"
				target="_blank"
			>
				<button class="cta-pulse">Prijavi se</button>
			</a>
		</div>
		<div class="right-container">
			<Image
				src={likImage}
				alt="Ilustracija radnog čovjeka"
			/>
		</div>
	</div>
</section>
