---
// src/components/Stats.astro
---

<section class="stats-container">
	<h3 class="title reveal">Sve te to očekuje uz naših:</h3>
	<div class="stats reveal-stagger">
		<div class="stat-box">
			<h3 class="stat-number">60+ <span>TVRTKI</span></h3>
			<p class="stat-label">SVE VODEĆE TVRTKE NA JEDNOM MJESTU</p>
		</div>
		<div class="stat-box">
			<h3 class="stat-number">12+ <span>INDUSTRIJA</span></h3>
			<p class="stat-label">DOLAZE STUDENTI SVIH SMJEROVA</p>
		</div>
	</div>
</section>
