---
// src/components/Stats.astro
---

<section class="companies-and-departments">
	<h3 class="title">Sve te to očekuje uz naših:</h3>
	<div class="stats">
		<div class="stat-box">
			<h3 class="stat-number">60+ <span>TVRTKI</span></h3>
			<p class="stat-label">SVE VODEĆE TVRTKE NA JEDNOM MJESTU</p>
		</div>
		<div class="stat-box">
			<h3 class="stat-number">6 <span>ODJELA</span></h3>
			<p class="stat-label">ŠEST RAZLIČITIH INDUSTRIJA</p>
		</div>
	</div>
</section>
