---
// src/components/Transport.astro
---

<section class="transport-info">
	<div class="transport-text reveal from-right">
		<h3>
			<span class="highlight-black">Ne moraš razmišljati</span><br />
			o<span class="highlight-yellow"> prijevozu...</span>
		</h3>
		<p>
			Tijekom cijelog dana osigurali smo organizirani autobusni prijevoz s različitih TVZ lokacija do dvorane Kornati, gdje se održava TVZ Career Day. Bez stresa i žurbe samo dođi na
			lokaciju i uhvati bus koji te vozi ravno do prilika, kontakta i uspjeha!
		</p>
	</div>
</section>
